<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/banner-about.jpg" class="pc">
      <img src="/public/images/banner-about.jpg" class="m">
    </section>
    <section class="detail-container max-center">
      <div class="title">公司详情</div>
      <div class="content">
        <p>
          福建浓泰弘升农业科技有限公司是一家以现代养殖技术为基础，以特种水产养殖技术推广、产品研发与深加工为核心，集特种水产养殖、销售、技术推广于一体的多元化立体生态科技企业。专业从事南美白对虾养殖，经过数年的试养，水产养殖从亲本提纯，人工孵化，苗种培育，商品养殖，病害防治，捕捞运输等各个环节充分掌握了核心技术...
        </p>
        <p>
          公司拥有规范化，标准化，养殖示范基地，占地面积300余亩，大力发展新型生态立体养殖模式，先后成立种苗培育中心、养殖中心、饲料研发部、产品研发部及招商服务等部门，在生产上真正做到了绿色环保、健康增收的现代农业标准。
        </p>
        <p>
          公司科研团队在外塘养殖、大棚养殖技术成熟的基础上，成功开发出“工厂化集约型养殖、小棚温室养殖、悬浮饲喂法”等。并顺利通过初试、终试养殖，获得不错的经济效益和社会效益。
        </p>
        <p>
          为将这一科技成果尽快转化为生产力，服务于民，造福社会，惠及大众，公司现面向社会诚挚邀请：欢迎有识之士，来公司实地考察，共谋发展！为内陆水产养殖革命，首执牛耳！为淡水南美白对虾养殖事业，添薪加力！为内陆养殖业再谱新篇！为内陆经济腾飞再创新功！共同打造“经济命运共同体”！
        </p>
        <p>
          公司将已经开展“互联网化”模式养殖，互联网化统一管理，不断培养专业技才，对全国合作养殖户的养殖基地建立统一管理系统，24小时360度全方位观察、管理，打造以互联网为核心，集“公司+养殖户+市场（合作社）”三方交流于一体的高新生态养殖产业。以"诚信、敬业、求实、创新、双赢"为经营理念来推动养殖产业化发展。诚邀广大合作伙伴共同携手，开创立体生态养殖业的健康财富。
        </p>
      </div>
    </section>
    <section class="about-container">
      <ul class="about-list max-center">
        <li class="about-item">
          <div class="img">
            <img src="/public/images/about1.webp">
          </div>
          <div class="text">
            <div class="title">公司愿景</div>
            <div class="content">
              <p>
                我们诚信于社会、客户、员工、合作伙伴，才能赢得社会对我们的认可，客户的信赖、员工，小成功靠自己，大成就靠团队，没有个人利益的牺牲，就没有强大的团队，没有完美的个。
              </p>
              <p>
                我们只有不断推陈出新，敢于自我否定，并不断完成自我的超越，这样才能响应外部环境的。
              </p>
            </div>
          </div>
        </li>
        <li class="about-item">
          <div class="img">
            <img src="/public/images/about2.webp">
          </div>
          <div class="text">
            <div class="title">公司使命</div>
            <div class="content">
              <p>
                专注于海水鱼类繁养科学的研究应用，帮助人们提升生活品质。为员工搭建实现人生价值的平台。成为中国水产行业的专业企业。
              </p>
              <p>
                以专业的品质、专业的服务、一专业的管理、持续创新、全员推动公司成为行业的专业企业！
              </p>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="base-container max-center">
      <div class="title">公司基地</div>
      <div class="pics">
        <img src="/public/images/base1.webp">
        <img src="/public/images/base2.webp">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>