<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/banner-about.jpg" class="pc">
      <img src="/public/images/banner-about.jpg" class="m">
    </section>
    <section class="product-container max-center">
      <div class="left-layout">
        <div class="product-swiper swiper-container">
          <ul class="product-list swiper-wrapper">
            <li class="product-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
          </ul>
        </div>
        <div class="thumb-swiper swiper-container">
          <ul class="thumb-list swiper-wrapper">
            <li class="thumb-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
            <li class="thumb-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
            <li class="thumb-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
            <li class="thumb-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
            <li class="thumb-item swiper-slide">
              <a class="img">
                <img src="/public/images/product1.webp">
              </a>
            </li>
          </ul>
        </div>
        <div class="prev-next">
          <a href="product_view.html">上一个</a>
          <a href="product_view.html">下一个</a>
        </div>
      </div>
      <div class="right-layout">
        <div class="top">
          <div class="title">南美白对虾养殖 包教包会</div>
          <div class="top-right">
            <div class="share-box icon-box">
              <svg id="图层_1" data-name="图层 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="40px"
                height="20px" data-v-7abda23b="">
                <path
                  d="M16.5,10.06a.5.5,0,0,0-.5.5v5.6a.9.9,0,0,1-.9.9H3.9a.9.9,0,0,1-.9-.9V5a.9.9,0,0,1,.9-.9H9.5a.5.5,0,0,0,.5-.5.5.5,0,0,0-.5-.5H3.9A1.9,1.9,0,0,0,2,5v11.2a1.9,1.9,0,0,0,1.9,1.9H15.1a1.9,1.9,0,0,0,1.9-1.9v-5.6A.5.5,0,0,0,16.5,10.06Z"
                  fill="#666" data-v-7abda23b=""></path>
                <path
                  d="M18.1,4.18h0L14.9,1.06a.5.5,0,0,0-.7.72l2.39,2.33A10,10,0,0,0,8,11.23a10.1,10.1,0,0,0-.28,1.35.5.5,0,0,0,.43.56H8.2a.5.5,0,0,0,.49-.44,10,10,0,0,1,.25-1.21,9.05,9.05,0,0,1,7.48-6.36L14.2,7.3a.5.5,0,0,0,.35.86A.54.54,0,0,0,14.9,8L18.1,4.9h0a.49.49,0,0,0,.15-.35A.51.51,0,0,0,18.1,4.18Z"
                  fill="#666" data-v-7abda23b=""></path>
              </svg>
              <p>分享</p>
              <div class="social-share-box">
                <div class="social-share"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="info">
          <div class="price">￥0.00</div>
        </div>
        <div class="other">
          <a href="tel:13333835320" class="tel">13333835320</a>
          <span class="reserve alert-show">立即预约</span>
        </div>
      </div>
    </section>
    <section class="detail-container max-center">
      <div class="title">
        <span>产品详情</span>
      </div>
      <div class="content">
        这里是产品详情
      </div>
    </section>

    <!-- 引入公共弹窗 -->
    <%= require("html-loader!../common/alert_form/index.html") %>
      <!-- 引入公共页尾 -->
      <%= require("html-loader!../common/footer/index.html") %>
        <link href="https://cdn.bootcdn.net/ajax/libs/social-share.js/1.0.16/css/share.min.css" rel="stylesheet">
        <script src="https://cdn.bootcdn.net/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
</body>

</html>