<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="banner-swiper swiper-container">
        <ul class="banner-list swiper-wrapper">
          <li class="banner-item swiper-slide">
            <img src="/public/images/banner.jpg">
          </li>
          <li class="banner-item swiper-slide">
            <img src="/public/images/banner.jpg">
          </li>
          <li class="banner-item swiper-slide">
            <img src="/public/images/banner.jpg">
          </li>
        </ul>
      </div>
    </section>
    <section class="market-container module">
      <div class="title-module">
        <div class="title">市场前景</div>
        <div class="desc">市场正走俏 养殖商机好</div>
      </div>
      <ul class="market-list max-center">
        <li class="market-item">
          <div class="img">
            <img src="/public/images/market1.jpg" alt="">
          </div>
          <div class="title">味美价值高，市场正走俏</div>
          <div class="desc">南美白对虾肉质鲜美，具有生津滋养功效，一道美味食品，一直出现在高端宴会，大型酒店的餐桌上。</div>
        </li>
        <li class="market-item">
          <div class="img">
            <img src="/public/images/market2.jpg" alt="">
          </div>
          <div class="title">好存养，耐运输，销路广</div>
          <div class="desc">南美白对虾抗逆性强且耐运输，在流通及销售的时候比较好存养，只要不缺氧和水温恰当，在运输过程中容易保存且放置几天体色依旧保持鲜艳</div>
        </li>
        <li class="market-item">
          <div class="img">
            <img src="/public/images/market3.jpg" alt="">
          </div>
          <div class="title">市场前景好，养殖正火爆</div>
          <div class="desc">南美白对虾的销售灵活，不同规格价格不一样，各种规格都可以上市销售，也不受季节与气温的影响，养殖户可以根据市场价格灵活调整出塘时间。</div>
        </li>
        <li class="market-item">
          <div class="img">
            <img src="/public/images/market4.jpg" alt="">
          </div>
          <div class="title">科学养殖，致富之道</div>
          <div class="desc">由于南美白对虾养殖周期长，市场变化快，养殖收益有保障。</div>
        </li>
      </ul>
    </section>
    <section class="company-container module">
      <div class="title-module">
        <div class="title">公司简介</div>
      </div>
      <div class="company-content max-center">
        <div class="left-layout">
          <img src="/public/images/company.webp" alt="">
        </div>
        <div class="right-layout">
          <div class="text">
            <p>
              福建浓泰弘升农业科技有限公司是一家以现代养殖技术为基础，以特种水产养殖技术推广、产品研发、集特种水产养殖、销售、技术推广于一体的多元化立体生态科技企业。专业从事南美白对虾养殖，经过数年的试养，水产养殖从亲本提纯，人工孵化，苗种培育，商品养殖，病害防治，捕捞运输等各个环节充分掌握了核心技术...
            </p>
            <p>公司拥有规范化，标准化，养殖示范基地，大力发展新型生态立体养殖模式，先后成立种苗培育中心、养殖中心、产品研发部及招商服务等部门，在生产上真正做到了绿色环保、健康增收的现代农业标准。</p>
          </div>
        </div>
      </div>
    </section>
    <section class="product-container module">
      <div class="title-module">
        <div class="title">产品展示</div>
      </div>
      <div class="product-box">
        <div class="product-swiper swiper-container max-center">
          <ul class="product-list swiper-wrapper">
            <li class="product-item swiper-slide">
              <a href="product_view.html">
                <img src="/public/images/pro1.jpg" alt="南美白对虾产品展示">
                <p>南美白对虾产品展示</p>
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a href="product_view.html">
                <img src="/public/images/pro2.jpg" alt="南美白对虾产品展示">
                <p>南美白对虾产品展示</p>
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a href="product_view.html">
                <img src="/public/images/pro3.jpg" alt="南美白对虾产品展示">
                <p>南美白对虾产品展示</p>
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a href="product_view.html">
                <img src="/public/images/pro4.jpg" alt="南美白对虾产品展示">
                <p>南美白对虾产品展示</p>
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a href="product_view.html">
                <img src="/public/images/pro5.jpg" alt="南美白对虾产品展示">
                <p>南美白对虾产品展示</p>
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a href="product_view.html">
                <img src="/public/images/pro6.jpg" alt="南美白对虾产品展示">
                <p>南美白对虾产品展示</p>
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a href="product_view.html">
                <img src="/public/images/pro7.jpg" alt="南美白对虾产品展示">
                <p>南美白对虾产品展示</p>
              </a>
            </li>
            <li class="product-item swiper-slide">
              <a href="product_view.html">
                <img src="/public/images/pro8.jpg" alt="南美白对虾产品展示">
                <p>南美白对虾产品展示</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
    <section class="why-container module">
      <div class="title-module">
        <div class="title">
          养殖对虾，为什么选择<br>浓泰宏生
        </div>
      </div>
      <ul class="why-list max-center">
        <li class="why-item">
          <div class="text">
            <div class="title">[品种优势]</div>
            <div class="desc">优良的品种是你养殖高产高收的根本</div>
            <div class="cont">
              本公司培育淡化的虾苗，一律经严格检验淡化标出，无特定病原携带，抗逆性强，打包运输24小时状态正常，生长快，变态及时，7-8天到仔虾阶段，虾苗营养好，蛋白含量高，适合各地水源水质，适应南北气候的优质苗体。
            </div>
          </div>
          <div class="img">
            <img src="/public/images/why1.webp">
          </div>
        </li>
        <li class="why-item">
          <div class="text">
            <div class="title">[技术优势]</div>
            <div class="desc">先进的技术让你的养殖更轻松</div>
            <div class="cont">
              南美白对虾合作养殖商由公司指派专业养殖技术老师一对一培训指导，不定期上门抽查，长期技术跟踪，公司技术老师与合作养殖商效益挂钩，业绩挂钩，确保每一个养殖商养殖无忧，创收有保障，虾品有质量。
            </div>
          </div>
          <div class="img">
            <img src="/public/images/why2.webp">
          </div>
        </li>
        <li class="why-item">
          <div class="img">
            <img src="/public/images/why3.webp">
          </div>
          <div class="text">
            <div class="title">[项目优势]</div>
            <div class="desc">专业设备，流水线式养殖</div>
            <div class="cont">
              科学技术是第一生产力！公司在淡水养殖南美白对虾外塘、大棚养殖稳产稳利的基础上，积极响应国家政策，成功开发出“工厂化集约型”养殖方式，“小棚温室”养殖方式及“悬浮饲喂”法，具有以下明显优势...
            </div>
          </div>
        </li>
        <li class="why-item">
          <div class="img">
            <img src="/public/images/why4.webp">
          </div>
          <div class="text">
            <div class="title">[服务优势]</div>
            <div class="desc">贴心服务为你的养殖保驾护航</div>
            <div class="cont">
              技术老师上门在养殖池边淡化标出虾苗，免费提供标苗配方产品（因内陆养殖水系普遍在-2--4格，公司淡化虾苗技术，可使虾苗快速适应内陆淡水品质，提高成活率）。淡化标出完成，以养殖水体试苗后，再下塘养殖，确保养殖成功！
            </div>
          </div>
        </li>
      </ul>
      <img class="adv" src="/public/images/pro-img.webp" alt="养殖规划自定·养殖方式任选">
      <ul class="info-list max-center">
        <li class="info-item">
          <div class="img">
            <img src="/public/images/info1.webp" alt="工厂化流水线养殖">
          </div>
          <div class="text">
            <div class="title">工厂化流水线养殖</div>
            <p>专业设备，流水线式养殖，天天出虾</p>
          </div>
        </li>
        <li class="info-item">
          <div class="img">
            <img src="/public/images/info2.webp" alt="大棚现代化养殖">
          </div>
          <div class="text">
            <div class="title">大棚现代化养殖</div>
            <p>建造塑料温室大棚，全年均可饲养，年产四茬鲜虾，一次投资，后期只需要购买虾料投放喂养</p>
          </div>
        </li>
        <li class="info-item">
          <div class="img">
            <img src="/public/images/info3.webp" alt="外塘传统养殖">
          </div>
          <div class="text">
            <div class="title">外塘传统养殖</div>
            <p>利用原有池塘、鱼塘或新建虾塘养殖，适合夏、秋季养殖，也可大面积养殖，年养两茬。养殖周期三个月左右</p>
          </div>
        </li>
        <li class="info-item">
          <div class="img">
            <img src="/public/images/info4.webp" alt="稻虾套养模式">
          </div>
          <div class="text">
            <div class="title">稻虾套养模式</div>
            <p>利用现有稻田，藕田套养，适合夏季饲养，养殖周期三个月左右</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="news-container module">
      <div class="title-module">
        <div class="title">新闻资讯</div>
      </div>
      <ul class="news-list max-center">
        <li class="news-item">
          <a href="">
            <div class="top">
              <div class="title">关于对虾养殖技术扶持和培训</div>
              <div class="date">2021-12-27</div>
            </div>
            <div class="cont">
              南美白对虾学名凡纳滨对虾，俗称白虾。1997年在我国大陆大规模养殖以来，面积逐渐扩大，是我国对虾养殖的主要产品，也是出品的主要产品。近年来国际市场对虾价格下跌、种苗退化、养殖场地老化、病害增多、养殖难度越来越大。不少养殖者产生忧虑，养殖南美白对虾是否有前途？是否改养其他品种？我们认为南美白对虾仍然是优良养殖品种，只要养殖采取新措施，加工销售采取有效的对策。南美白对虾养殖业仍会持续发展，春天会...
            </div>
            <div class="tag">养殖技术</div>
          </a>
        </li>
        <li class="news-item">
          <a href="">
            <div class="top">
              <div class="title">规范南美白对虾小棚养殖</div>
              <div class="date">2021-12-29</div>
            </div>
            <div class="cont">
              为引导南美白对虾小棚养殖规范建设和有序管理，推进南美白对虾养殖品牌化、园区化、产业化，促进水产养殖业健康发展 ，举措规范南美白对虾小棚养殖。一是规范养殖用地，养殖用地应当在养殖水域滩涂规划划定的养殖区内合理规划布局，严禁在非养殖区规划布局和无序开发；二是规范养殖用水，养殖用水应当符合农业部《无公害食品养殖用水水质》（NY5361-2010）标准，养殖取水应当合法合规，不得擅自取用地下水源，确...
            </div>
            <div class="tag">养殖技术</div>
          </a>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>