<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/banner-about.jpg" class="pc">
      <img src="/public/images/banner-about.jpg" class="m">
    </section>
    <section class="news-container max-center">
      <ul class="news-list">
        <li class="news-item">
          <a href="news_view.html">
            <div class="top">
              <div class="title">关于对虾养殖技术扶持和培训</div>
              <div class="date">2021-12-27</div>
            </div>
            <div class="desc">
              南美白对虾学名凡纳滨对虾，俗称白虾。1997年在我国大陆大规模养殖以来，面积逐渐扩大，是我国对虾养殖的主要产品，也是出品的主要产品。近年来国际市场对虾价格下跌、种苗退化、养殖场地老化、病害增多、养殖难度越来越大。不少养殖者产生忧虑，养殖南美白对虾是否有前途？是否改养其他品种？我们认为南美白对虾仍然是优良养殖品种，只要养殖采取新措施，加工销售采取有效的对策。南美白对虾养殖业仍会持续发展，春天会...
            </div>
            <div class="tag">养殖技术</div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="top">
              <div class="title">关于对虾养殖技术扶持和培训</div>
              <div class="date">2021-12-27</div>
            </div>
            <div class="desc">
              南美白对虾学名凡纳滨对虾，俗称白虾。1997年在我国大陆大规模养殖以来，面积逐渐扩大，是我国对虾养殖的主要产品，也是出品的主要产品。近年来国际市场对虾价格下跌、种苗退化、养殖场地老化、病害增多、养殖难度越来越大。不少养殖者产生忧虑，养殖南美白对虾是否有前途？是否改养其他品种？我们认为南美白对虾仍然是优良养殖品种，只要养殖采取新措施，加工销售采取有效的对策。南美白对虾养殖业仍会持续发展，春天会...
            </div>
            <div class="tag">养殖技术</div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="top">
              <div class="title">关于对虾养殖技术扶持和培训</div>
              <div class="date">2021-12-27</div>
            </div>
            <div class="desc">
              南美白对虾学名凡纳滨对虾，俗称白虾。1997年在我国大陆大规模养殖以来，面积逐渐扩大，是我国对虾养殖的主要产品，也是出品的主要产品。近年来国际市场对虾价格下跌、种苗退化、养殖场地老化、病害增多、养殖难度越来越大。不少养殖者产生忧虑，养殖南美白对虾是否有前途？是否改养其他品种？我们认为南美白对虾仍然是优良养殖品种，只要养殖采取新措施，加工销售采取有效的对策。南美白对虾养殖业仍会持续发展，春天会...
            </div>
            <div class="tag">养殖技术</div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="top">
              <div class="title">关于对虾养殖技术扶持和培训</div>
              <div class="date">2021-12-27</div>
            </div>
            <div class="desc">
              南美白对虾学名凡纳滨对虾，俗称白虾。1997年在我国大陆大规模养殖以来，面积逐渐扩大，是我国对虾养殖的主要产品，也是出品的主要产品。近年来国际市场对虾价格下跌、种苗退化、养殖场地老化、病害增多、养殖难度越来越大。不少养殖者产生忧虑，养殖南美白对虾是否有前途？是否改养其他品种？我们认为南美白对虾仍然是优良养殖品种，只要养殖采取新措施，加工销售采取有效的对策。南美白对虾养殖业仍会持续发展，春天会...
            </div>
            <div class="tag">养殖技术</div>
          </a>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>